body {background-color:#FF9949}

#main{margin-top:5%; background-color:#FFFF99; padding:20px;}
a:link{text-decoration:none}
a:hover{text-decoration:underline}
table{border:1px solid; table-layout:auto}

